@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}

::selection {
  background-color: #fff;
  color: #000;
}

p, a {
  font-size: medium;
  color: #fff;
  line-height: 1.7em;
}

.toolsused {
  color: grey;
  display: none;
}

@media (max-width: 900px) {
  .toolsused {
    display: block;
    padding-top: 2vh;
  }
}

.fullname {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.fullname p {
  font-size: 120px;
  font-weight: 750;
  color: #f5e5e7;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .fullname p {
    font-size: 80px;
    font-weight: 700;
  }
}

.skills {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.skills p {
  font-size: 120px;
  font-weight: 750;
  color: #EBFAFF;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .skills p {
    font-size: 80px;
    font-weight: 700;
  }
}

.projects {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.projects p {
  font-size: 120px;
  font-weight: 750;
  color: #EBFFF2;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .projects p {
    font-size: 80px;
    font-weight: 700;
  }
}

.contact {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.contact p {
  font-size: 120px;
  font-weight: 750;
  color: #FFF9EB;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .contact p {
    font-size: 80px;
    font-weight: 700;
  }
}

.workexp {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.workexp p {
  font-size: 120px;
  font-weight: 750;
  color: #EBFAFF;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .workexp p {
    font-size: 80px;
    font-weight: 700;
  }
}

.projectslist .column .title {
  text-align: right;
}

@media (max-width: 900px) {
  .projectslist .column .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projectslist .column .title p:first-child {
    padding-right: 4vw;
  }
}

section {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  section {
    padding-top: 6vh;
  }
}

nav {
  width: 100%;
  margin-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  font-size: small;
  text-decoration: none;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

nav a:hover {
  color: #f5e5e7;
  text-decoration: underline;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  list-style-type: none;
  padding: 0 10px;
}

@media (max-width: 900px) {
  nav {
    margin-bottom: 6vh;
  }
  nav li {
    font-size: small;
  }
  nav a {
    font-size: small;
  }
}

.summary {
  padding: 15vh 20vw 15vh 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 6vw;
}

.summary p:first-child {
  text-align: right;
}

@media (max-width: 900px) {
  .summary {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    padding: 10vh 6vw;
  }
}

.projectslist {
  width: 100%;
  padding: 0vh 20vw 15vh 20vw;
}

.projectslist .column {
  display: -ms-grid;
  display: grid;
  padding: 3vh 0;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 6vw;
}

@media (max-width: 900px) {
  .projectslist {
    padding: 15vh 6vw;
  }
  .projectslist .column {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projectslist .column p:first-child {
    text-align: left;
  }
}

.workexplist {
  padding: 15vh 20vw 15vh 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 6vw;
}

.workexplist p:first-child {
  text-align: right;
}

.workexplist .title {
  text-align: right;
}

@media (max-width: 900px) {
  .workexplist {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10vh 6vw;
  }
  .workexplist .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workexplist .title p {
    text-align: left;
  }
}

.cards {
  padding: 15vh 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 10vh;
}

@media (max-width: 900px) {
  .cards {
    padding: 10vh 6vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card .heading {
  padding-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .heading img {
  padding-right: 1vw;
}

@media (max-width: 900px) {
  .card .heading img {
    padding-right: 2vw;
  }
}

.boldtext {
  font-weight: bold;
  font-size: large;
}

.italictext {
  font-style: italic;
  font-size: medium;
  color: grey;
  line-height: 2em;
}

.socials {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials img {
  height: 40px;
  margin: 4px 0px 4px 0px;
}

.socials a, .socials p {
  font-size: large;
}

head img {
  height: 20px;
  width: 20px;
}
/*# sourceMappingURL=style.css.map */