@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import ./_scrollbar

// Colors
$background: #000
$headerBackground: #282529
$red: #f5e5e7
$yellow: #FFF9EB
$blue: #EBFAFF
$green: #EBFFF2
$white: #fff

// Screen Sizes
$small: 900px
$medium: 1200px

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: "Open Sans", sans-serif
    scroll-behavior: smooth

::selection
    background-color: $white
    color: $background

p, a
    font-size: medium
    color: $white
    line-height: 1.7em


.toolsused
    color: grey
    display: none

    @media (max-width: $small)
        display: block
        padding-top: 2vh 

@mixin headerText($color)
    background-color: $headerBackground
    user-select: none
    width: 100%
    text-align: center
    
    p
        font-size: 120px
        font-weight: 750
        color: $color
        line-height: 1em
        overflow-wrap: break-word

    @media (max-width: $small)
        p
            font-size: 80px
            font-weight: 700

.fullname
    @include headerText($color: $red)

.skills
    @include headerText($color: $blue)

.projects
    @include headerText($color: $green)

.contact
    @include headerText($color: $yellow)

.workexp
    @include headerText($color: $blue)

.projectslist .column .title
    text-align: right
    
    @media (max-width: $small)
        display: flex
        p:first-child
            padding-right: 4vw

section
    padding-top: 10vh
    min-height: 100vh
    background-color: $background
    display: flex
    align-items: center
    flex-direction: column

    @media (max-width: $small)
        padding-top: 6vh

nav
    width: 100%
    margin-bottom: 20vh
    display: flex
    justify-content: space-around
    align-items: center

    a
        font-weight: bold

    ul
        display: flex
        align-items: center
    
    li
        list-style-type: none
        padding: 0 10px
    
    @media (max-width: $small)
        li
            font-size: small
        
        a
            font-size: small
        
        margin-bottom: 6vh

.summary
    padding: 15vh 20vw 15vh 10vw
    display: grid
    grid-template-columns: 1fr 2fr
    grid-column-gap: 6vw

    p:first-child
        text-align: right

    @media (max-width: $small)
        grid-template-columns: 1fr 3fr
        padding: 10vh 6vw

.projectslist
    width: 100%
    padding: 0vh 20vw 15vh 20vw

    .column
        display: grid
        padding: 3vh 0
        grid-template-columns: 1fr 2fr 1fr
        grid-column-gap: 6vw
    
    @media (max-width: $small)
        padding: 15vh 6vw
        .column
            grid-template-columns: 1fr
        
            p:first-child
                text-align: left

.workexplist
    padding: 15vh 20vw 15vh 10vw
    display: grid
    grid-template-columns: 1fr 2fr
    grid-column-gap: 6vw

    p:first-child
        text-align: right
    
    .title
        text-align: right

    @media (max-width: $small)
        grid-template-columns: 1fr
        padding: 10vh 6vw

        .title
            display: flex
            flex-direction: column

            p
                text-align: left


.cards
    padding: 15vh 20vw
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 10vw
    grid-row-gap: 10vh

    @media (max-width: $small)
        padding: 10vh 6vw
        grid-template-columns: 1fr

.card
    .heading
        padding-bottom: 2vh
        display: flex
        img
            padding-right: 1vw
        
        @media (max-width: $small)
            img
                padding-right: 2vw

.socials
    margin: auto auto

.social
    padding-bottom: 1vh
    img
        width: 2vw
        margin-right: 1vw
    
    a
        font-size:  larger

    @media (max-width: $small)
        img
            width: 6vw

.boldtext
    font-weight: bold
    font-size: large

.italictext
    font-style: italic
    font-size: medium
    color: grey
    line-height: 2em