@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}

::selection {
  background-color: #fff;
  color: #000;
}

p {
  font-size: large;
  color: #fff;
  line-height: 1.7em;
}

@media (max-width: 700px) {
  p {
    font-size: medium;
  }
}

a {
  color: #fff;
}

section {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  width: 100%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  list-style-type: none;
  padding: 0 10px;
}

@media (max-width: 700px) {
  nav li {
    font-size: small;
  }
}

.fullname {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.fullname p {
  font-size: 120px;
  font-weight: 750;
  color: #f5e5e7;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 700px) {
  .fullname {
    width: 100%;
  }
  .fullname p {
    font-size: 80px;
    font-weight: 700;
  }
}

.skills {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.skills p {
  font-size: 120px;
  font-weight: 750;
  color: #EBFAFF;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 700px) {
  .skills {
    width: 100%;
  }
  .skills p {
    font-size: 80px;
    font-weight: 700;
  }
}

.projects {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.projects p {
  font-size: 120px;
  font-weight: 750;
  color: #EBFFF2;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 700px) {
  .projects {
    width: 100%;
  }
  .projects p {
    font-size: 80px;
    font-weight: 700;
  }
}

.contact {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.contact p {
  font-size: 120px;
  font-weight: 750;
  color: #FFF9EB;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 700px) {
  .contact {
    width: 100%;
  }
  .contact p {
    font-size: 80px;
    font-weight: 700;
  }
}

.workexp {
  background-color: #282529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
}

.workexp p {
  font-size: 120px;
  font-weight: 750;
  color: #EBFAFF;
  line-height: 1em;
  overflow-wrap: break-word;
}

@media (max-width: 700px) {
  .workexp {
    width: 100%;
  }
  .workexp p {
    font-size: 80px;
    font-weight: 700;
  }
}

.subtitle {
  font-size: larger;
  text-align: right;
  color: #fff;
}

.content {
  font-size: larger;
  color: #fff;
}

.detailedview {
  padding: 15vh 20vw 15vh 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 6vw;
}

.detailedview p:first-child {
  text-align: right;
}

@media (max-width: 700px) {
  .detailedview {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    padding: 10vh 10vw 10vh 6vw;
  }
}

.projectslist {
  width: 100%;
  padding: 0vh 20vw 15vh 20vw;
}

.projectslist .column {
  display: -ms-grid;
  display: grid;
  padding: 3vh 0;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 6vw;
}

.projectslist .column p:first-child {
  text-align: right;
}

@media (max-width: 700px) {
  .projectslist {
    padding: 15vh 6vw;
  }
}

.cards {
  padding: 15vh 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 10vh;
}

@media (max-width: 700px) {
  .cards {
    padding: 10vh 15vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card .header {
  padding-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .header img {
  padding-right: 1vw;
}

@media (max-width: 700px) {
  .card .header p {
    font-size: large;
  }
  .card .header img {
    padding-right: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */